<a class="small-event-card" href="{{event_url}}">
  <div class="small-event-card__date">
    <span class="small-event-card__day">{{eventDay event.date}}</span>
    <span class="small-event-card__month">{{eventMonth event.date}}</span>
  </div>
  <div class="small-event-card__content">
    <h3>{{event.title}}</h3>
    <p>{{event.location}}</p>
  </div>
</a>
